<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mailclient.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-sdk android:minSdkVersion="14" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mailclient.app.SendMailActivity"
            android:label="send" >
        </activity>
        <activity
            android:name="com.example.mailclient.app.ReplyActivity"
            android:label="reply" >
        </activity>
        <activity
            android:name="Inbox"
            android:label="inbox" >
        </activity>
        <activity
            android:name="TrashBin"
            android:label="trash bin" >
        </activity>
        <activity
            android:name="Sent"
            android:label="sent mail" >
        </activity>
        <activity
            android:name="com.example.mailclient.app.Todo"
            android:label="to do">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:uiOptions="splitActionBarWhenNarrow"
            android:name="com.example.mailclient.app.ReadMail"
            android:label="read" >
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mailclient.app.MailClient" />
        </activity>

    </application>

</manifest>
